@{
    var listaDeProfessores = ViewBag.ListaDeProfessores;
}
<h1>Aqui vamos criar nossa página de listagem de Professores</h1>

<table class="table table-dark table-sm">
    <thead>
        </tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th>Cargo</th>
    <th>Ação</th>
    <tr>

        </thead>
        @foreach (var item in listaDeProfessores)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Endereco</td>
            <td>@item.Telefone</td>
            <td>@item.Cargo</td>
            <td>
                <a href="https://localhost:44366/Professor/@item.Id"><button type="button" class="btn btn-danger">Excluir</button></a>
                <a href="https://localhost:44366/Professor/Editar/@item.Id"><button type="button" class="btn btn-light">Editar</button></a>
            </td>
        </tr>
    }
    </table>
